<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bpaas.bps.pay.mapper.wechat.WechatPayDetailRefundRegMapper" >
  <resultMap id="BaseResultMap" type="com.bpaas.bps.pay.po.wechat.WechatPayDetailRefundRegPo" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="billdate" property="billdate" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="VARCHAR" />
    <result column="trandate" property="trandate" jdbcType="TIMESTAMP" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
    <result column="sub_mch_id" property="subMchId" jdbcType="VARCHAR" />
    <result column="device_info" property="deviceInfo" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="trade_state" property="tradeState" jdbcType="VARCHAR" />
    <result column="payer_bankcode" property="payerBankcode" jdbcType="VARCHAR" />
    <result column="fee_type" property="feeType" jdbcType="VARCHAR" />
    <result column="clear_fee" property="clearFee" jdbcType="DECIMAL" />
    <result column="coupon_fee" property="couponFee" jdbcType="DECIMAL" />
    <result column="refund_date" property="refundDate" jdbcType="TIMESTAMP" />
    <result column="refund_succ_date" property="refundSuccDate" jdbcType="TIMESTAMP" />
    <result column="refund_id" property="refundId" jdbcType="VARCHAR" />
    <result column="out_refund_no" property="outRefundNo" jdbcType="VARCHAR" />
    <result column="refund_fee" property="refundFee" jdbcType="DECIMAL" />
    <result column="coupon_refund_fee" property="couponRefundFee" jdbcType="DECIMAL" />
    <result column="refund_type" property="refundType" jdbcType="VARCHAR" />
    <result column="refund_status" property="refundStatus" jdbcType="VARCHAR" />
    <result column="body" property="body" jdbcType="VARCHAR" />
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="fee_amt" property="feeAmt" jdbcType="DECIMAL" />
    <result column="rate" property="rate" jdbcType="VARCHAR" />
    <result column="order_fee" property="orderFee" jdbcType="DECIMAL" />
    <result column="req_refund_fee" property="reqRefundFee" jdbcType="DECIMAL" />
    <result column="rateMark" property="ratemark" jdbcType="VARCHAR" />
    <result column="chkflag" property="chkflag" jdbcType="CHAR" />
    <result column="chktime" property="chktime" jdbcType="TIMESTAMP" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column" >
    id, billdate, bill_type, trandate, appid, mch_id, sub_mch_id, device_info, transaction_id, 
    out_trade_no, openid, trade_type, trade_state, payer_bankcode, fee_type, clear_fee, 
    coupon_fee, refund_date, refund_succ_date, refund_id, out_refund_no, refund_fee, 
    coupon_refund_fee, refund_type, refund_status, body, attach, fee_amt, rate, order_fee, 
    req_refund_fee, rateMark, chkflag, chktime, remark1, remark2, remark3, remark4, remark5
  </sql>
  
  <sql id="Table_Name">
		t_wechatpay_detail_refund_reg
	</sql>
  
  
  <sql id="Base_Where">
		<trim suffixOverrides="AND">
		<if test="id != null" >
        id = #{id},
      </if>
      <if test="billdate != null" >
        billdate = #{billdate},
      </if>
      <if test="billType != null" >
        bill_type = #{billType},
      </if>
      <if test="trandate != null" >
        trandate = #{trandate},
      </if>
      <if test="appid != null" >
        appid = #{appid},
      </if>
      <if test="mchId != null" >
        mch_id = #{mchId},
      </if>
      <if test="subMchId != null" >
        sub_mch_id = #{subMchId},
      </if>
      <if test="deviceInfo != null" >
        device_info = #{deviceInfo},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo},
      </if>
      <if test="openid != null" >
        openid = #{openid},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType},
      </if>
      <if test="tradeState != null" >
        trade_state = #{tradeState},
      </if>
      <if test="payerBankcode != null" >
        payer_bankcode = #{payerBankcode},
      </if>
      <if test="feeType != null" >
        fee_type = #{feeType},
      </if>
      <if test="clearFee != null" >
        clear_fee = #{clearFee},
      </if>
      <if test="couponFee != null" >
        coupon_fee = #{couponFee},
      </if>
      <if test="refundDate != null" >
        refund_date = #{refundDate},
      </if>
      <if test="refundSuccDate != null" >
        refund_succ_date = #{refundSuccDate},
      </if>
      <if test="refundId != null" >
        refund_id = #{refundId},
      </if>
      <if test="outRefundNo != null" >
        out_refund_no = #{outRefundNo},
      </if>
      <if test="refundFee != null" >
        refund_fee = #{refundFee},
      </if>
      <if test="couponRefundFee != null" >
        coupon_refund_fee = #{couponRefundFee},
      </if>
      <if test="refundType != null" >
        refund_type = #{refundType},
      </if>
      <if test="refundStatus != null" >
        refund_status = #{refundStatus},
      </if>
      <if test="body != null" >
        body = #{body},
      </if>
      <if test="attach != null" >
        attach = #{attach},
      </if>
      <if test="feeAmt != null" >
        fee_amt = #{feeAmt},
      </if>
      <if test="rate != null" >
        rate = #{rate},
      </if>
      <if test="orderFee != null" >
        order_fee = #{orderFee},
      </if>
      <if test="reqRefundFee != null" >
        req_refund_fee = #{reqRefundFee},
      </if>
      <if test="ratemark != null" >
        rateMark = #{ratemark},
      </if>
      <if test="chkflag != null" >
        chkflag = #{chkflag},
      </if>
      <if test="chktime != null" >
        chktime = #{chktime},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5},
      </if>
		</trim>
	</sql>
  
 <insert id="insert" >
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billdate != null" >
        billdate,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="trandate != null" >
        trandate,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="mchId != null" >
        mch_id,
      </if>
      <if test="subMchId != null" >
        sub_mch_id,
      </if>
      <if test="deviceInfo != null" >
        device_info,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="tradeState != null" >
        trade_state,
      </if>
      <if test="payerBankcode != null" >
        payer_bankcode,
      </if>
      <if test="feeType != null" >
        fee_type,
      </if>
      <if test="clearFee != null" >
        clear_fee,
      </if>
      <if test="couponFee != null" >
        coupon_fee,
      </if>
      <if test="refundDate != null" >
        refund_date,
      </if>
      <if test="refundSuccDate != null" >
        refund_succ_date,
      </if>
      <if test="refundId != null" >
        refund_id,
      </if>
      <if test="outRefundNo != null" >
        out_refund_no,
      </if>
      <if test="refundFee != null" >
        refund_fee,
      </if>
      <if test="couponRefundFee != null" >
        coupon_refund_fee,
      </if>
      <if test="refundType != null" >
        refund_type,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="body != null" >
        body,
      </if>
      <if test="attach != null" >
        attach,
      </if>
      <if test="feeAmt != null" >
        fee_amt,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="orderFee != null" >
        order_fee,
      </if>
      <if test="reqRefundFee != null" >
        req_refund_fee,
      </if>
      <if test="ratemark != null" >
        rateMark,
      </if>
      <if test="chkflag != null" >
        chkflag,
      </if>
      <if test="chktime != null" >
        chktime,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="billdate != null" >
        #{billdate},
      </if>
      <if test="billType != null" >
        #{billType},
      </if>
      <if test="trandate != null" >
        #{trandate},
      </if>
      <if test="appid != null" >
        #{appid},
      </if>
      <if test="mchId != null" >
        #{mchId},
      </if>
      <if test="subMchId != null" >
        #{subMchId},
      </if>
      <if test="deviceInfo != null" >
        #{deviceInfo},
      </if>
      <if test="transactionId != null" >
        #{transactionId},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo},
      </if>
      <if test="openid != null" >
        #{openid},
      </if>
      <if test="tradeType != null" >
        #{tradeType},
      </if>
      <if test="tradeState != null" >
        #{tradeState},
      </if>
      <if test="payerBankcode != null" >
        #{payerBankcode},
      </if>
      <if test="feeType != null" >
        #{feeType},
      </if>
      <if test="clearFee != null" >
        #{clearFee},
      </if>
      <if test="couponFee != null" >
        #{couponFee},
      </if>
      <if test="refundDate != null" >
        #{refundDate},
      </if>
      <if test="refundSuccDate != null" >
        #{refundSuccDate},
      </if>
      <if test="refundId != null" >
        #{refundId},
      </if>
      <if test="outRefundNo != null" >
        #{outRefundNo},
      </if>
      <if test="refundFee != null" >
        #{refundFee},
      </if>
      <if test="couponRefundFee != null" >
        #{couponRefundFee},
      </if>
      <if test="refundType != null" >
        #{refundType},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus},
      </if>
      <if test="body != null" >
        #{body},
      </if>
      <if test="attach != null" >
        #{attach},
      </if>
      <if test="feeAmt != null" >
        #{feeAmt},
      </if>
      <if test="rate != null" >
        #{rate},
      </if>
      <if test="orderFee != null" >
        #{orderFee},
      </if>
      <if test="reqRefundFee != null" >
        #{reqRefundFee},
      </if>
      <if test="ratemark != null" >
        #{ratemark},
      </if>
      <if test="chkflag != null" >
        #{chkflag},
      </if>
      <if test="chktime != null" >
        #{chktime},
      </if>
      <if test="remark1 != null" >
        #{remark1},
      </if>
      <if test="remark2 != null" >
        #{remark2},
      </if>
      <if test="remark3 != null" >
        #{remark3},
      </if>
      <if test="remark4 != null" >
        #{remark4},
      </if>
      <if test="remark5 != null" >
        #{remark5},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByEntity">
    update t
    <include refid="Table_Name" />
    <set >
      <if test="s.billdate != null" >
        billdate = #{s.billdates},
      </if>
      <if test="s.billType != null" >
        bill_type = #{s.billTypes},
      </if>
      <if test="s.trandate != null" >
        trandate = #{s.trandates},
      </if>
      <if test="s.appid != null" >
        appid = #{s.appids},
      </if>
      <if test="s.mchId != null" >
        mch_id = #{s.mchIds},
      </if>
      <if test="s.subMchId != null" >
        sub_mch_id = #{s.subMchIds},
      </if>
      <if test="s.deviceInfo != null" >
        device_info = #{s.deviceInfos},
      </if>
      <if test="s.transactionId != null" >
        transaction_id = #{s.transactionIds},
      </if>
      <if test="s.outTradeNo != null" >
        out_trade_no = #{s.outTradeNos},
      </if>
      <if test="s.openid != null" >
        openid = #{s.openids},
      </if>
      <if test="s.tradeType != null" >
        trade_type = #{s.tradeTypes},
      </if>
      <if test="s.tradeState != null" >
        trade_state = #{s.tradeStates},
      </if>
      <if test="s.payerBankcode != null" >
        payer_bankcode = #{s.payerBankcodes},
      </if>
      <if test="s.feeType != null" >
        fee_type = #{s.feeTypes},
      </if>
      <if test="s.clearFee != null" >
        clear_fee = #{s.clearFees},
      </if>
      <if test="s.couponFee != null" >
        coupon_fee = #{s.couponFees},
      </if>
      <if test="s.refundDate != null" >
        refund_date = #{s.refundDates},
      </if>
      <if test="s.refundSuccDate != null" >
        refund_succ_date = #{s.refundSuccDates},
      </if>
      <if test="s.refundId != null" >
        refund_id = #{s.refundIds},
      </if>
      <if test="s.outRefundNo != null" >
        out_refund_no = #{s.outRefundNos},
      </if>
      <if test="s.refundFee != null" >
        refund_fee = #{s.refundFees},
      </if>
      <if test="s.couponRefundFee != null" >
        coupon_refund_fee = #{s.couponRefundFees},
      </if>
      <if test="s.refundType != null" >
        refund_type = #{s.refundTypes},
      </if>
      <if test="s.refundStatus != null" >
        refund_status = #{s.refundStatuss},
      </if>
      <if test="s.body != null" >
        body = #{s.bodys},
      </if>
      <if test="s.attach != null" >
        attach = #{s.attachs},
      </if>
      <if test="s.feeAmt != null" >
        fee_amt = #{s.feeAmts},
      </if>
      <if test="s.rate != null" >
        rate = #{s.rates},
      </if>
      <if test="s.orderFee != null" >
        order_fee = #{s.orderFees},
      </if>
      <if test="s.reqRefundFee != null" >
        req_refund_fee = #{s.reqRefundFees},
      </if>
      <if test="s.ratemark != null" >
        rateMark = #{s.ratemarks},
      </if>
      <if test="s.chkflag != null" >
        chkflag = #{s.chkflags},
      </if>
      <if test="s.chktime != null" >
        chktime = #{s.chktimes},
      </if>
      <if test="s.remark1 != null" >
        remark1 = #{s.remark1s},
      </if>
      <if test="s.remark2 != null" >
        remark2 = #{s.remark2s},
      </if>
      <if test="s.remark3 != null" >
        remark3 = #{s.remark3s},
      </if>
      <if test="s.remark4 != null" >
        remark4 = #{s.remark4s},
      </if>
      <if test="s.remark5 != null" >
        remark5 = #{s.remark5s},
      </if>
    </set>
   <where> 
      <trim prefix="(" suffix=")" suffixOverrides="AND">
       <if test="w.id != null" >
        id = #{w.ids} AND
      </if>
      <if test="w.billdate != null" >
        billdate = #{w.billdates} AND
      </if>
      <if test="w.billType != null" >
        bill_type = #{w.billTypes} AND
      </if>
      <if test="w.trandate != null" >
        trandate = #{w.trandates} AND
      </if>
      <if test="w.appid != null" >
        appid = #{w.appids} AND
      </if>
      <if test="w.mchId != null" >
        mch_id = #{w.mchIds} AND
      </if>
      <if test="w.subMchId != null" >
        sub_mch_id = #{w.subMchIds} AND
      </if>
      <if test="w.deviceInfo != null" >
        device_info = #{w.deviceInfos} AND
      </if>
      <if test="w.transactionId != null" >
        transaction_id = #{w.transactionIds} AND
      </if>
      <if test="w.outTradeNo != null" >
        out_trade_no = #{w.outTradeNos} AND
      </if>
      <if test="w.openid != null" >
        openid = #{w.openids} AND
      </if>
      <if test="w.tradeType != null" >
        trade_type = #{w.tradeTypes} AND
      </if>
      <if test="w.tradeState != null" >
        trade_state = #{w.tradeStates} AND
      </if>
      <if test="w.payerBankcode != null" >
        payer_bankcode = #{w.payerBankcodes} AND
      </if>
      <if test="w.feeType != null" >
        fee_type = #{w.feeTypes} AND
      </if>
      <if test="w.clearFee != null" >
        clear_fee = #{w.clearFees} AND
      </if>
      <if test="w.couponFee != null" >
        coupon_fee = #{w.couponFees} AND
      </if>
      <if test="w.refundDate != null" >
        refund_date = #{w.refundDates} AND
      </if>
      <if test="w.refundSuccDate != null" >
        refund_succ_date = #{w.refundSuccDates} AND
      </if>
      <if test="w.refundId != null" >
        refund_id = #{w.refundIds} AND
      </if>
      <if test="w.outRefundNo != null" >
        out_refund_no = #{w.outRefundNos} AND
      </if>
      <if test="w.refundFee != null" >
        refund_fee = #{w.refundFees} AND
      </if>
      <if test="w.couponRefundFee != null" >
        coupon_refund_fee = #{w.couponRefundFees} AND
      </if>
      <if test="w.refundType != null" >
        refund_type = #{w.refundTypes} AND
      </if>
      <if test="w.refundStatus != null" >
        refund_status = #{w.refundStatuss} AND
      </if>
      <if test="w.body != null" >
        body = #{w.bodys} AND
      </if>
      <if test="w.attach != null" >
        attach = #{w.attachs} AND
      </if>
      <if test="w.feeAmt != null" >
        fee_amt = #{w.feeAmts} AND
      </if>
      <if test="w.rate != null" >
        rate = #{w.rates} AND
      </if>
      <if test="w.orderFee != null" >
        order_fee = #{w.orderFees} AND
      </if>
      <if test="w.reqRefundFee != null" >
        req_refund_fee = #{w.reqRefundFees} AND
      </if>
      <if test="w.ratemark != null" >
        rateMark = #{w.ratemarks} AND
      </if>
      <if test="w.chkflag != null" >
        chkflag = #{w.chkflags} AND
      </if>
      <if test="w.chktime != null" >
        chktime = #{w.chktimes} AND
      </if>
      <if test="w.remark1 != null" >
        remark1 = #{w.remark1s} AND
      </if>
      <if test="w.remark2 != null" >
        remark2 = #{w.remark2s} AND
      </if>
      <if test="w.remark3 != null" >
        remark3 = #{w.remark3s} AND
      </if>
      <if test="w.remark4 != null" >
        remark4 = #{w.remark4s} AND
      </if>
      <if test="w.remark5 != null" >
        remark5 = #{w.remark5s}
      </if>
      </trim>
      </where>
  </update>
  
  <delete id="delete" >
		delete from
		<include refid="Table_Name" />
		<where>
			<include refid="Base_Where" />
		</where>
	</delete>

	<select id="count" parameterType="java.util.Map" resultType="int">
		select count(1) from
		<include refid="Table_Name" />
		<where>
			<include refid="Base_Where" />
		</where>
	</select>

	<select id="selectOne"  resultMap="BaseResultMap">
		select
		<include refid="Base_Column" />
		from
		<include refid="Table_Name" />
		<where>
			<include refid="Base_Where" />
		</where>
	</select>

	<select id="selectList"  resultMap="BaseResultMap">
		select
		<include refid="Base_Column" />
		from
		<include refid="Table_Name" />
		<where>
			<include refid="Base_Where" />
		</where>
		<include refid="com.fPaaS1.dipper.mybatis.common.Comm_Order_By"/>
	</select>
  
</mapper>